<template>

<!-- ***************************** APP.TEMPLATE **************************** -->

<div>

  <!-- Navigation Bar -->
  <header-component></header-component>

  <!-- Router -->
  <router-view></router-view>

  <!-- Alert messages -->
  <messages></messages>

</div>

<!-- *********************************************************************** -->

</template>

<script>

// --------------------------------- Imports -------------------------------- //
// ========================================================================== //

  // App -------------------------------------------------------------------- //

  import HeaderComponent from './Header.vue';

  import Messages from './Messages.vue';

// -------------------------------- Component ------------------------------- //
// ========================================================================== //

  export default {
    // Settings ------------------------------------------------------------- //
    components: {
      HeaderComponent,
      Messages
    },
    data() {
      return {
        transitionName: 'slide-left'
      }
    },
    // Data events ---------------------------------------------------------- //
    watch: {
      $route(to, from) {

        // (!) Transition Example ------------------------------------------- //

        // Parameters
        const to_depth = to.path.split('/').length;
        const from_depth = from.path.split('/').length;

        // Set data
        this.transitionName = to_depth < from_depth ? 'slide-right' : 'slide-left';

      }
    }
  }
</script>
