<template>

<!-- *************************** HEADER.TEMPLATE *************************** -->

  <nav class="navbar navbar-expand-lg navbar-light navbar-crm responsive-for-ipad">

    <!-- Refresh /////////////////////////////////////////////////////////// -->

    <div class="" v-if="refresh"></div>

    <!-- Logo ////////////////////////////////////////////////////////////// -->

    <router-link class="navbar-brand" to="/">
      <img id="brand_img" alt="Brand" class="img-thumbnail" src="/images/logo.png">
      <span id="brand_span">{{ title }}</span>
    </router-link>

    <!-- Burger button ///////////////////////////////////////////////////// -->

    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar"
            aria-controls="navbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
            @click="show_menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation bar (links) //////////////////////////////////////////// -->

    <div class="collapse navbar-collapse" :class="{ show: collapse }" id="navbar">

      <ul class="navbar-nav mr-auto">
        <!-- No links... -->
      </ul>

    </div>

    <!-- Navigation bar (App) ////////////////////////////////////////////// -->

    <ul class="nav navbar-nav navbar-right form-row align-items-center">

      <!-- App informations ______________________________________________ -->

      <li>

        <button id="app_infos"
                class="btn btn-sm border-0"
                data-toggle="popover"
                data-placement="left"
                data-html="true"
                :data-title="infosTitle"
                :data-template="infosTemplate"
                :data-content="infosContent">
          <font-awesome-icon icon="info-circle" class="text-info"></font-awesome-icon>
        </button>

      </li>

      <!-- Sync message ____________________________________________________ -->

      <li v-if="logged_in" class="ml-1">

        <!-- Offline -->
        <span v-if="is_offline" class="text-danger">Hors ligne</span>

        <!-- Syncing -->
        <span v-else-if="is_syncing" class="text-warning">En cours de synchro...</span>

        <!-- Synced -->
        <span v-else-if="is_synced" class="text-success">Synchronisé</span>

      </li>

      <!-- User ____________________________________________________________ -->

      <li v-if="logged_in" class="ml-2">

        <!--
        * Can "work_as"
        -->
        <div v-if="can_work_as" class="input-group">

          <select class="custom-select custom-select-sm" v-model="workAs" :disabled="is_offline">

            <option v-for="(user, index) in children" :value="user.id">{{ user.libelle }}</option>

          </select>

          <div class="input-group-append">
            <router-link class="nav-item btn btn-sm" to="/logout">
              <font-awesome-icon class="text-danger" icon="power-off"/>
            </router-link>
          </div>

        </div>
        <!--
        * Cannot "work_as"
        -->
        <span v-else>

          <div class="btn-group">

            <span class="btn btn-sm no-cursor">{{ user.fullname }}</span>

            <router-link class="nav-item btn btn-sm" to="/logout">
              <font-awesome-icon class="text-danger" icon="power-off"/>
            </router-link>


          </div>

        </span>

      </li>

    </ul>

  </nav>

<!-- *********************************************************************** -->

</template>

<style>

  /**
  * Small device ------------------------------------------------------------ //
  **/

  @media (max-width: 1099px) {

    /* General -------------------------------------------------------------- */

    .in-large-screen {
      display: none;
    }

    /* Logo ----------------------------------------------------------------  */

    .responsive-for-ipad #brand_img {
      width: 6em;
    }

    .responsive-for-ipad #brand_span {
      font-size: 0.8em;
    }

  }

  /**
  * Large device ------------------------------------------------------------ //
  **/

  @media (min-width: 1100px) {

    .responsive-for-ipad #brand_img {
      width: 8em;
    }

    .in-small-screen {
      display: none;
    }

  }

  /**
  * All Devices ------------------------------------------------------------- //
  **/

  /* General ---------------------------------------------------------------- */

  .no-cursor {
    cursor: unset;
  }

  /**
  * App infos --------------------------------------------------------------- //
  **/

  #app_infos.btn:focus {
    box-shadow: none;
  }

  .bs-popover-left > .arrow::after,
  .bs-popover-auto[x-placement^="left"] > .arrow::after {
    border-left-color: #FFFFFF;
  }

</style>

<script>

// --------------------------------- Imports -------------------------------- //
// ========================================================================== //

  // App -------------------------------------------------------------------- //

  import api from '../api';

  import * as config from '../config';

  import { mapState, mapGetters } from 'vuex';

  // Const ------------------------------------------------------------------ //

  import * as action_types from '../store/actions-types';

// -------------------------------- Component ------------------------------- //
// ========================================================================== //

  export default {
    // Settings ------------------------------------------------------------- //
    // ---------------------------------------------------------------------- //
    data() {
      return {
        collapse: false,
        refresh: false
      }
    },
    // Accessors ------------------------------------------------------------ //
    // ---------------------------------------------------------------------- //
    computed: {
      // Vuex --------------------------------------------------------------- //
      ...mapState(['user']),
      ...mapGetters([
        'is_offline',
        'is_syncing',
        'is_synced',
        'logged_in',
        'can_work_as'
      ]),
      // Render ------------------------------------------------------------- //
      reverseCollapse() {

        return !this.collapse;

      },
      title() {

        return config.APP_NAME;

      },
      // Infos -------------------------------------------------------------- //
      infosTitle() {

        return 'Informations';

      },
      infosTemplate() {

        return [
          // Popover -------------------------------------------------------- //
          '<div class="popover" role="tooltip">',
          // -- Arrow ------------------------------------------------------- //
          '<div class="arrow"></div>',
          // -- Header (hidden) --------------------------------------------- //
          '<h3 class="popover-header text-center d-none"></h3>',
          // -- Body -------------------------------------------------------- //
          '<div class="popover-body"></div>',
          // ---------------------------------------------------------------- //
          '</div>'
        ].join('');

      },
      infosContent() {

        return [
          '<span> Version: ' + window.APP_VERSION + '</span>'
        ].join('');

      },
      // User --------------------------------------------------------------- //
      sortedChildren() {

        return _.orderBy(this.user.children_users, 'sorting');

      },
      children() {

        return _.reduce(this.sortedChildren, function(memo, child) {

          if(child.id && child.role === 'vm') {

            memo.push({
              id: child.id,
              libelle: child.libelle_secteur
            });

          }

          return memo;

        }, [{ id: 0, libelle: this.user.original_fullname }]);

      },
      // Work as ------------------------------------------------------------ //
      workAs: {
        get() {

          return this.user.work_as;

        },
        set(work_as, old_work_as) {

          // Check if online
          this.$store.dispatch(action_types.CHECK_IF_ONLINE).then((is_online) => {

            // Condition for apply "work_as" -------------------------------- //

            if(is_online && this.is_synced)
            {

              api.set_work_as({ work_as }).then(() => { // Reload application //

                location.assign(work_as ? '/wk' : '/');

              }).catch((error) => { // On Failure --------------------------- //

                // Display error message
                this.$store.dispatch(action_types.DISPLAY_MESSAGE, {
                  type: 'danger',
                  message: this.workAsMessage
                });

                // Refresh vue component
                this.refresh = true;

              });

            }
            // Not available ------------------------------------------------ //
            else {

              // Display error message
              this.$store.dispatch(action_types.DISPLAY_MESSAGE, {
                type: 'danger',
                message: this.workAsMessage
              });

            }

          });

        }
      },
      workAsMessage() {

        if(this.is_offline) {

          return 'Commande impossible hors ligne.';

        }

        if(this.is_syncing) {

          return 'Veuillez attendre la fin de la synchronisation.';

        }

        return 'Une erreur s\'est produite. Veuillez réessayer.';

      },
    },
    // Lifecycle ------------------------------------------------------------ //
    // ---------------------------------------------------------------------- //
    mounted() {

      // Init popover
      $('[data-toggle="popover"]').popover();

      // Add popover events, auto hide after 5 seconds
      $('#app_infos').on('shown.bs.popover', function(e) {

        const infos = $(this);

        setTimeout(() => infos.popover('hide'), 5000);

      });

    },
    // Data events ---------------------------------------------------------- //
    // ---------------------------------------------------------------------- //
    watch: {
      refresh(apply) {

        if(apply) { this.refresh = false; }

      }
    },
    // Functions ------------------------------------------------------------ //
    // ---------------------------------------------------------------------- //
    methods: {
      // Render ------------------------------------------------------------- //
      show_menu(e) {

        this.collapse = this.reverseCollapse;

      },
    }
  }

</script>
