<template>
  <!-- **************************** HOME.TEMPLATE **************************** -->

  <div class="container-fluid">
    <!-- /////////////////////////////// Welcome /////////////////////////////// -->

    <div class="card">
      <!-- Header ____________________________________________________________ -->
      <div class="card-header text-center">
        Bienvenue !
        <button
          class="btn btn-sm float-right pointer"
          @click="mutateWelcomeEye()"
        >
          <font-awesome-icon :icon="welcomeEye" />
        </button>
      </div>

      <!-- Body ______________________________________________________________ -->
      <div class="card-body" :class="welcomeVisibility">
        <!-- Title -->
        <h5 class="card-title">Bonjour,</h5>

        <!-- Messages -->

        <li class="card-text">
          A votre écoute. L'équipe RepsView BI 07 67 91 43 56
        </li>
      </div>
    </div>

    <!-- ///////////////////////////// Applications //////////////////////////// -->

    <div class="card mt-1">
      <!-- Header ____________________________________________________________ -->
      <div class="card-header text-center">
        Vos applications
        <button class="btn btn-sm float-right pointer" @click="mutateAppsEye()">
          <font-awesome-icon :icon="appsEye" />
        </button>
      </div>

      <!-- Body ______________________________________________________________ -->
      <div class="card-body p-0" :class="appsVisibility">
        <div class="row">
          <!-- Link to CRM _________________________________________________ -->

          <div class="col">
            <div class="card card-apps">
              <img
                class="card-img-top"
                src="/images/logo_crm.png"
                alt="CRM Logo"
                @click="openUrl('crm')"
              />
              <div class="card-body text-center">
                <p class="card-text">CRM</p>
              </div>
            </div>
          </div>

          <!-- Link to Orders ______________________________________________ -->

          <div class="col">
            <div class="card card-apps">
              <img
                class="card-img-top"
                src="/images/logo_orders.png"
                alt="APC Orders Logo"
                @click="openUrl('orders')"
              />
              <div class="card-body text-center">
                <p class="card-text">Orders</p>
              </div>
            </div>
          </div>

          <!-- Link to CR35 ________________________________________________ -->

          <div class="col">
            <div class="card card-apps">
              <img
                class="card-img-top"
                src="/images/logo_cr35.png"
                alt="CR35 Logo"
                @click="openUrl('cr35')"
              />
              <div class="card-body text-center">
                <p class="card-text">Critère 35</p>
              </div>
            </div>
          </div>

          <!-- Link to Dashboard ___________________________________________ -->

          <div class="col">
            <div class="card card-apps">
              <img
                class="card-img-top"
                src="/images/logo_dashboard.png"
                alt="Dashboard Logo"
                @click="openUrl('dashboard')"
              />
              <div class="card-body text-center">
                <p class="card-text">Dashboard</p>
              </div>
            </div>
          </div>

          <!-- Link to Ciblage _____________________________________________ -->

          <!-- <div class="col">
            <div class="card card-apps">
              <img
                class="card-img-top"
                src="/images/logo_ciblage.png"
                alt="Ciblage Logo"
                @click="openUrl('ciblage')"
              />
              <div class="card-body text-center">
                <p class="card-text">Ciblage</p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>

    <div class="card mt-1">
      <!-- Header ____________________________________________________________ -->
      <div class="card-header text-center">
        Vos alertes
        <button
          class="btn btn-sm float-right pointer"
          @click="mutateAlertEye()"
        >
          <font-awesome-icon :icon="alertEye" />
        </button>
      </div>

      <!-- Body ______________________________________________________________ -->
      <div class="card-body" :class="alertVisibility">
        <b-form-group v-if="user.role_2 == 'dz'" :description="checked ? 'Bulles : Liste associée accessible par un clic' : 'Bulles : pas de liste associée - Activité mensuelle : choix des APMs possible'">
          <b-row class="align-items-center" style="font-size:1.25rem !important">
            Mode AR &nbsp;
            <b-form-checkbox v-model="checked" name="check-button" switch size="lg">
              Mode APM
            </b-form-checkbox>
          </b-row>
        </b-form-group>

        <b-row>
          <!-- <b-col sm="3" class="text-center">
            <h5>Pharmacies ciblées non facturées depuis 3 mois</h5>
            <b-avatar
              :text="pharmaWithoutFac.toString()"
              size="4rem"
              variant="primary"
              v-if="!isvm"
            ></b-avatar>
            <b-avatar
              button
              v-b-toggle.collapse-1
              @click="closeOtherCollapses(1)"
              :text="pharmaWithoutFac.toString()"
              size="4rem"
              variant="primary"
              v-else
            ></b-avatar>
          </b-col>
          <b-col sm="3" class="text-center">
            <h5>Pharmacies ciblées sans visite depuis 3 mois</h5>
            <b-avatar
              :text="pharmaWithoutVisit.toString()"
              size="4rem"
              variant="success"
              v-if="!isvm"
            ></b-avatar>
            <b-avatar
              button
              v-b-toggle.collapse-2
              @click="closeOtherCollapses(2)"
              :text="pharmaWithoutVisit.toString()"
              size="4rem"
              variant="success"
              v-else
            ></b-avatar>
          </b-col> -->
          <b-col sm="6" class="text-center">
            <h5>Médecins ciblés non vus depuis 4 mois sans RDV</h5>
            <b-avatar
              :text="medsNotView.toString()"
              size="4rem"
              variant="danger"
              v-if="!isvm"
            ></b-avatar>
            <b-avatar
              button
              v-b-toggle.collapse-3
              @click="closeOtherCollapses(3)"
              :text="medsNotView.toString()"
              size="4rem"
              variant="danger"
              v-else
            ></b-avatar>
          </b-col>
          <b-col sm="6" class="text-center">
            <h5>
              Médecins ciblés recevant sur rdv sans date de prochaine visite
            </h5>
            <b-avatar
              :text="medsWithoutNextVisit.toString()"
              size="4rem"
              variant="warning"
              v-if="!isvm"
            ></b-avatar>
            <b-avatar
              button
              v-b-toggle.collapse-4
              @click="closeOtherCollapses(4)"
              :text="medsWithoutNextVisit.toString()"
              size="4rem"
              variant="warning"
              v-else
            ></b-avatar>
          </b-col>
        </b-row>

        <b-collapse id="collapse-1" class="mt-2">
          <b-table
            small
            per-page="50"
            :sort-by.sync="sortByPharma"
            sort-icon-left
            :current-page="currentPage1"
            :items="rowsPharmaWithoutFac"
            :fields="fieldsPharma"
          >
            <template #cell(raison_sociale)="data">
              <a :href="redirectTo(data, 'orders')" target="_blank">{{ data.value }}</a>
            </template>
          </b-table>
          <b-pagination
            pills
            per-page="50"
            align="center"
            :total-rows="rowsPharmaWithoutFac.length"
            v-model="currentPage1"
          ></b-pagination>
        </b-collapse>
        <b-collapse id="collapse-2" class="mt-2">
          <b-table
            small
            per-page="50"
            :sort-by.sync="sortByPharma"
            sort-icon-left
            :current-page="currentPage2"
            :items="rowsPharmaWithoutVisit"
            :fields="fieldsPharma"
          >
            <template #cell(raison_sociale)="data">
              <a :href="redirectTo(data, 'etablissements')" target="_blank">{{ data.value }}</a>
            </template>
          </b-table>
          <b-pagination
            pills
            per-page="50"
            align="center"
            :total-rows="rowsPharmaWithoutVisit.length"
            v-model="currentPage2"
          ></b-pagination>
        </b-collapse>
        <b-collapse id="collapse-3" class="mt-2">
          <b-table
            small
            per-page="50"
            :sort-by.sync="sortByMeds"
            sort-icon-left
            :current-page="currentPage3"
            :items="rowsMedsNotView"
            :fields="fieldsMeds"
          >
            <template #cell(raison_sociale)="data">
              <a :href="redirectTo(data, 'etablissements')" target="_blank">{{ data.value }}</a>
            </template>
            <template #cell(professionnel)="data">
              <a :href="redirectTo(data, 'professionnels')" target="_blank">{{ data.value }}</a>
            </template>
          </b-table>
          <b-pagination
            pills
            per-page="50"
            align="center"
            :total-rows="rowsMedsNotView.length"
            v-model="currentPage3"
          ></b-pagination>
        </b-collapse>
        <b-collapse id="collapse-4" class="mt-2">
          <b-table
            small
            per-page="50"
            :sort-by.sync="sortByMeds"
            sort-icon-left
            :current-page="currentPage4"
            :items="rowsMedsWithoutNextVisit"
            :fields="fieldsMeds"
          >
            <template #cell(raison_sociale)="data">
              <a :href="redirectTo(data, 'etablissements')" target="_blank">{{ data.value }}</a>
            </template>
            <template #cell(professionnel)="data">
              <a :href="redirectTo(data, 'professionnels')" target="_blank">{{ data.value }}</a>
            </template>
          </b-table>
          <b-pagination
            pills
            per-page="50"
            align="center"
            :total-rows="rowsMedsWithoutNextVisit.length"
            v-model="currentPage4"
          ></b-pagination>
        </b-collapse>
      </div>
    </div>

    <div class="card mt-1">
      <!-- Header ____________________________________________________________ -->
      <div class="card-header text-center">
        Activité mensuelle
        <button
          class="btn btn-sm float-right pointer"
          @click="mutateActivityEye()"
        >
          <font-awesome-icon :icon="activityEye" />
        </button>
      </div>

      <!-- Body ______________________________________________________________ -->
      <div class="card-body" :class="activityVisibility">
        <b-row>
          <b-col sm="2">
            <b-form-select
              v-model="yearMonthSelected"
              :options="yearMonthList"
              @change="getDatas"
            ></b-form-select>
          </b-col>
          <b-col sm="2">
            <b-form-select
              v-if="!isvm"
              v-model="userSelected"
              :options="usersList"
              @change="getDatas"
            ></b-form-select>
          </b-col>
        </b-row>
        <b-row class="mt-1">
          <b-col sm="6"
            ><b-table
              hover
              small
              bordered
              :items="items1"
              :fields="fields"
              class="text-center"
              :busy="isBusy"
            >
              <template #table-busy>
                <div class="text-center text-info my-2">
                  <b-spinner class="align-middle"></b-spinner>
                  <strong>Chargement en cours...</strong>
                </div>
              </template>
            </b-table></b-col
          >
          <b-col sm="6"
            ><b-table
              hover
              small
              bordered
              :items="items2"
              :fields="fields"
              class="text-center"
              :busy="isBusy"
            >
              <template #table-busy>
                <div class="text-center text-info my-2">
                  <b-spinner class="align-middle"></b-spinner>
                  <strong>Chargement en cours...</strong>
                </div>
              </template>
            </b-table></b-col
          >
        </b-row>
      </div>
    </div>
  </div>

  <!-- *********************************************************************** -->
</template>

<style media="screen">
/**
  * General ----------------------------------------------------------------- //
  **/

.pointer {
  cursor: pointer;
}

/**
  * Apps -------------------------------------------------------------------- //
  **/

.card-apps {
  cursor: pointer;
  border: none;
  width: 10rem;
  margin: 0 auto;
  float: none;
}

.img-zoom:hover {
  transform: scale(1.2);
}
</style>

<script>
// --------------------------------- Imports -------------------------------- //
// ========================================================================== //

// App -------------------------------------------------------------------- //

import * as config from "../config";
import api from "../api";
import { mapState, mapGetters } from "vuex";

// -------------------------------- Component ------------------------------- //
// ========================================================================== //

export default {
  // Settings ------------------------------------------------------------- //
  // ---------------------------------------------------------------------- //
  data() {
    return {
      welcome_eye: true,
      apps_eye: true,
      alert_eye: true,
      activity_eye: true,
      isBusy: false,
      fields: [
        {
          key: "date",
          label: "Date",
        },
        // {
        //   key: "etat_frais",
        //   label: "Etat frais",
        // },
        {
          key: "morning",
          label: "Matin",
        },
        {
          key: "afternoon",
          label: "Après-midi",
        },
        {
          key: "nbmed",
          label: "Nb PS",
        },
        {
          key: "nbphar",
          label: "Nb Phie",
        },
      ],
      fieldsPharma: [
        { key: "cip", sortable: true },
        { key: "raison_sociale", sortable: true },
        { key: "professionnel", sortable: true },
        { key: "adresse", sortable: true },
        { key: "code_postal", sortable: true },
        { key: "ville", sortable: true },
        { key: "telephone", sortable: true },
      ],
      fieldsMeds: [
        //{ key: "code_onekey", sortable: true },
        { key: "raison_sociale", sortable: true },
        { key: "professionnel", sortable: true },
        { key: "adresse", sortable: true },
        { key: "code_postal", sortable: true },
        { key: "ville", sortable: true },
        { key: "telephone", sortable: true },
      ],
      monthsList: [
        "Janvier",
        "Février",
        "Mars",
        "Avril",
        "Mai",
        "Juin",
        "Juillet",
        "Août",
        "Septembre",
        "Octobre",
        "Novembre",
        "Décembre",
      ],
      sortByPharma: "raison_sociale",
      sortByMeds: "professionnel",
      //usersList: [{ value: null, text: "Choix utilisateur" }],
      yearMonthSelected: null,
      userSelected: 0,
      yearMonthList: [{ value: null, text: "Choix année mois" }],
      countPharmaWithoutFac: 0,
      rowsPharmaWithoutFac: [],
      countPharmaWithoutVisit: 0,
      rowsPharmaWithoutVisit: [],
      countMedsNotView: 0,
      rowsMedsNotView: [],
      checked: false,
      countMedsWithoutNextVisit: 0,
      rowsMedsWithoutNextVisit: [],
      currentPage1: 1,
      currentPage2: 1,
      currentPage3: 1,
      currentPage4: 1,
      items1: [],
      items2: [],
    };
  },
  // Accessors ------------------------------------------------------------ //
  // ---------------------------------------------------------------------- //
  computed: {
    ...mapState(["user"]),
    ...mapGetters([
      "is_offline",
      "is_syncing",
      "is_synced",
      "logged_in",
      "can_work_as",
    ]),
    isvm() {
      return this.user.role == "vm" && (this.user.role_2 != "dz" || this.checked);
    },
    // Welcome ------------------------------------------------------------ //
    welcomeEye() {
      return this.welcome_eye ? "eye" : "eye-slash";
    },
    welcomeVisibility() {
      return this.welcome_eye ? "" : "d-none";
    },
    // Apps --------------------------------------------------------------- //
    appsEye() {
      return this.apps_eye ? "eye" : "eye-slash";
    },
    appsVisibility() {
      return this.apps_eye ? "" : "d-none";
    },
    // alert ------------------------------------------------------------ //
    alertEye() {
      return this.alert_eye ? "eye" : "eye-slash";
    },
    alertVisibility() {
      return this.alert_eye ? "" : "d-none";
    },
    // activity ------------------------------------------------------------ //
    activityEye() {
      return this.activity_eye ? "eye" : "eye-slash";
    },
    activityVisibility() {
      return this.activity_eye ? "" : "d-none";
    },
    pharmaWithoutFac: function () {
      return this.countPharmaWithoutFac;
    },
    pharmaWithoutVisit: function () {
      return this.countPharmaWithoutVisit;
    },
    medsNotView: function () {
      return this.countMedsNotView;
    },
    medsWithoutNextVisit: function () {
      return this.countMedsWithoutNextVisit;
    },
    // User --------------------------------------------------------------- //
    sortedChildren() {
      return _.orderBy(this.user.children_users, "sorting");
    },
    usersList() {
      return _.reduce(
        this.sortedChildren,
        function (memo, child) {
          if (child.id && child.role === "vm") {
            memo.push({
              value: child.id,
              text: child.libelle_secteur,
            });
          }

          return memo;
        },
        [{ value: 0, text: "Choix de l'utilisateur" }]
      );
    },
  },
  // Lifecycle ------------------------------------------------------------ //
  // ---------------------------------------------------------------------- //
  created() {
    // ...
  },
  // Data events ---------------------------------------------------------- //
  // ---------------------------------------------------------------------- //
  watch: {
    is_synced: {
      immediate: true,
      handler(val) {
        if (val) this.fetchAlerts();
      },
    },
    checked: {
      immediate: true,
      handler(val) {
        if(val && this.yearMonthSelected){
          this.userSelected = this.user.id;
          this.getDatas();
        }
        this.fetchAlerts();
      },
    },
  },
  // Functions ------------------------------------------------------------ //
  // ---------------------------------------------------------------------- //
  methods: {
    // Welcome ------------------------------------------------------------ //
    mutateWelcomeEye() {
      this.welcome_eye = !this.welcome_eye;
    },
    // Apps --------------------------------------------------------------- //
    mutateAppsEye() {
      this.apps_eye = !this.apps_eye;
    },
    mutateAlertEye() {
      this.alert_eye = !this.alert_eye;
    },
    mutateActivityEye() {
      this.activity_eye = !this.activity_eye;
    },
    openUrl(app) {

      switch (app) {

        case "crm":
          window.open(config.CRM_URL + "?redirect_to=true" + "&autologin_token=" + api.autologin_token);
          break;

        case "orders":
          window.open(config.ORDERS_URL + "?autologin_token=" + api.autologin_token + "&email=" + api.user_email);
          break;

        case "cr35":
          window.open(config.CR35_URL);
          break;

        case "dashboard":
          window.open(config.DASHBOARD_URL);
          break;

        // case "ciblage":
        //   window.open(config.CIBLAGE_URL);
        //   break;

        default:
          break;

      }

    },
    getDatas: function () {
      this.isBusy = true;
      fetch(config.API_PATH + "/get_datas?yearmonth=" + this.yearMonthSelected + "&user=" + this.userSelected, {
        method: "GET",
        headers: {
          Accept: "application/json",
          "Content-Type": "application/json",
          Authorization: "Bearer " + api.token,
        },
      })
        .then((resp) => {
          return resp.json();
        })
        .then((response) => {
          this.items1 = [];
          this.items2 = [];
          let len = response.length;
          for (let i = 0; i < len; i++) {
            if (i <= len / 2) {
              this.items1.push(response[i]);
            } else {
              this.items2.push(response[i]);
            }
          }
          this.isBusy = false;
        });
    },
    closeOtherCollapses: function (collapse) {
      let elements = document.getElementsByClassName("collapse");
      for (let element of elements) {
        if (
          element.id.includes("collapse") &&
          element.id !== "collapse-" + collapse
        ) {
          if (element.classList.contains("show"))
            this.$root.$emit("bv::toggle::collapse", element.id);
        }
      }
    },
    redirectTo: function (data, to) {

      if(to != "orders")
      {

        let id = to == "etablissements" ? data.item.id : data.item.crm_professionnel_id;

        return config.CRM_URL + "?redirect_to=" + to + "&id=" + id + "&autologin_token=" + api.autologin_token;

      }
      else {

        return config.ORDERS_URL + "?autologin_token=" + api.autologin_token + "&email=" + api.user_email + "&redirect_to=fichepharmacie/" + data.item.cip;

      }

    },
    fetchAlerts: function () {
      // fetch(config.API_PATH + "/get_pharma_without_fac?isvm=" + this.checked, {
      //   method: "GET",
      //   headers: {
      //     "Content-Type": "application/json",
      //     Authorization: "Bearer " + api.token,
      //   },
      // })
      //   .then((resp) => resp.json())
      //   .then((response) => {
      //     this.countPharmaWithoutFac = response.count;
      //     this.rowsPharmaWithoutFac = response.rows;
      //   });

      // fetch(config.API_PATH + "/get_pharma_without_visit?isvm=" + this.checked, {
      //   method: "GET",
      //   headers: {
      //     "Content-Type": "application/json",
      //     Authorization: "Bearer " + api.token,
      //   },
      // })
      //   .then((resp) => resp.json())
      //   .then((response) => {
      //     this.countPharmaWithoutVisit = response.count;
      //     this.rowsPharmaWithoutVisit = response.rows;
      //   });

      fetch(config.API_PATH + "/get_meds_not_view?isvm=" + this.checked, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + api.token,
        },
      })
        .then((resp) => resp.json())
        .then((response) => {
          this.countMedsNotView = response.count;
          this.rowsMedsNotView = response.rows;
        });

      fetch(config.API_PATH + "/get_meds_without_next_visit?isvm=" + this.checked, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          Authorization: "Bearer " + api.token,
        },
      })
        .then((resp) => resp.json())
        .then((response) => {
          this.countMedsWithoutNextVisit = response.count;
          this.rowsMedsWithoutNextVisit = response.rows;
        });
    },
  },
  mounted: function () {
    fetch(config.API_PATH + "/get_year_month", {
      method: "GET",
    })
      .then((response) => {
        return response.json();
      })
      .then((yearMonth) => {
        for (let anneemois of yearMonth) {
          let date = new Date(anneemois);
          this.yearMonthList.push({
            value: anneemois,
            text: this.monthsList[date.getMonth()] + " " + date.getFullYear(),
          });
        }
      });
  },
};
</script>
