<template xmlns:v-on="http://www.w3.org/1999/xhtml">

<!-- **************************** LOGIN.TEMPLATE *************************** -->

  <div class="container-fluid" id="content">

<!-- /////////////////////////// Loading (logged) ////////////////////////// -->

    <div v-if="onConnect" class="col-5 col-md-5 col-sm-10 mx-auto">

      <!-- loading Progress bars /////////////////////////////////////////// -->

      <h3 class="text-center">Chargement en cours...</h3>

      <div class="progress">
        <div class="progress-bar progress-bar-striped active"
             role="progressbar"
             aria-valuenow="100"
             aria-valuemin="0"
             aria-valuemax="100"
             style="width: 100%">
          <span class="sr-only">Loading</span>
        </div>
      </div>

      <!-- Sync modules loading //////////////////////////////////////////// -->

      <div class="row mt-3">

        <!-- Authentication -->
        <div class="col-12">
          <h5 class="d-inline align-middle mx-1">Authentification</h5>
          <font-awesome-icon v-if="logged_in" class="text-success float-right mx-1" icon="check"/>
          <h5 v-else class="spinner-border spinner-border-sm text-info float-right mx-1" role="status"></h5>
        </div>
        <!--
        <ul>
          <li>
            Authentification
            <font-awesome-icon v-if="logged_in" icon="check"/>
            <div v-else class="spinner-border text-primary" role="status"></div>
          </li>
        </ul>
        -->
      </div>

    </div>

<!-- /////////////////////////// Form (unlogged) /////////////////////////// -->

    <div v-else class="col-5 col-md-5 col-sm-10 mx-auto">

      <h3 class="text-center m-1">Connectez-vous avec votre compte RepsView</h3>

      <!-- Username -->
      <label for="input_email" class="sr-only">Nom d'utilisateur</label>
      <input type="text" id="input_email" class="form-control m-1" placeholder="Nom d'utilisateur" required="" v-model="email" autofocus=""/>

      <!-- Password -->
      <label for="input_password" class="sr-only">Mot de passe</label>
      <input type="password" id="input_password" class="form-control m-1" placeholder="Mot de passe" v-model="password" required=""/>

      <!-- Submit -->
      <button class="btn btn-lg btn-primary btn-block m-1" type="submit" v-on:click.prevent="login">Connexion</button>

    </div>

  </div>

<!-- *********************************************************************** -->

</template>

<style media="screen">

  /**
  * Content ----------------------------------------------------------------- //
  **/

  #content {

    margin-top: 60px;

  }

</style>

<script>

// --------------------------------- Imports -------------------------------- //
// ========================================================================== //

  // App -------------------------------------------------------------------- //

  import router from '../router';

  import { mapState, mapGetters } from 'vuex';

  // Const ------------------------------------------------------------------ //

  import * as action_types from '../store/actions-types';

// -------------------------------- Component ------------------------------- //
// ========================================================================== //

  export default {
    // Settings ------------------------------------------------------------- //
    // ---------------------------------------------------------------------- //
    data() {
      return {
        email: '',
        password: ''
      }
    },
    props: {
      redirect: { type: String, required: false, default: '/' },
      pathname: { type: String, required: false, default: '/' },
      auto: { type: String, required: false, default: '1' }
    },
    // Accessors ------------------------------------------------------------ //
    // ---------------------------------------------------------------------- //
    computed: {
      // Vuex --------------------------------------------------------------- //
      ...mapState(['user']),
      ...mapGetters(['logged_in', 'is_login_attempting']),
      // Loading ------------------------------------------------------------ //
      onConnect() {

        return this.is_login_attempting;

      },
      authLoading() {

        return this.logged_in ? 'check' : 'spinner';

      },
      // Work as ------------------------------------------------------------ //
      reset_work_as() {

        return this.pathname === '/wk' ?  '0' : '1';

      }
    },
    // Lifecycle ------------------------------------------------------------ //
    // ---------------------------------------------------------------------- //
    created() {

      // Attempt login with token
      if((parseInt(this.auto))) {

        this.$store.dispatch(action_types.LOGIN_ATTEMPT, this.reset_work_as);

      }

    },
    // Data events ---------------------------------------------------------- //
    // ---------------------------------------------------------------------- //
    watch: {
      // Store -------------------------------------------------------------- //
      logged_in(is_logged) {

        if(is_logged) {

          this.redirectToHome();

        }

      }
    },
    // Functions ------------------------------------------------------------ //
    // ---------------------------------------------------------------------- //
    methods: {
      login(e) {

        this.$store.dispatch(action_types.LOGIN_USER, {
          email: this.email,
          password: this.password
        });

      },
      redirectToHome() {

        router.push({ path: this.redirect || '/' });

      }
    }
  }

</script>
