<template xmlns:v-bind="http://www.w3.org/1999/xhtml">

<!-- ************************** MESSAGES.TEMPLATE ************************** -->

  <div id="messages">

    <div v-for="(message, index) in messages" :key="index" class="alert alert-dismissible" v-bind:class="['alert-' + message.type]">

      <!-- Close button -->
      <button v-on:click.prevent="dismiss(message.id)" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

      <!-- Message -->
      {{ message.message }}

    </div>

  </div>

<!-- *********************************************************************** -->

</template>

<style media="screen">

  /**
  * Messages ---------------------------------------------------------------- //
  **/

  #messages {
    position: fixed;
    bottom: 20px;
    left: 20px;
  }

</style>

<script>

// --------------------------------- Imports -------------------------------- //
// ========================================================================== //

  // Const ------------------------------------------------------------------ //

  import * as mutations_types from '../store/mutations-types';

// -------------------------------- Component ------------------------------- //
// ========================================================================== //

  export default {
    // Accessors ------------------------------------------------------------ //
    // ---------------------------------------------------------------------- //
    computed: {
      messages() {

        return this.$store.state.messages.slice().reverse();

      }
    },
    // Functions ------------------------------------------------------------ //
    // ---------------------------------------------------------------------- //
    methods: {
      dismiss(message_id) {

        this.$store.commit(mutations_types.REMOVE_MESSAGE, message_id);

      }
    }
  }

</script>
